## Deliverable 3. Create a Travel Itinerary Map.

In [12]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from VacayConfig import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Busselton,AU,68.04,clear sky,-33.6500,115.3333,Observatory Guest House
1,8,Rikitea,PF,78.96,light rain,-23.1203,-134.9692,People ThankYou
2,9,Sinnamary,GF,76.80,scattered clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
3,11,Cape Town,ZA,65.08,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
4,12,Hobart,AU,78.26,few clouds,-42.8794,147.3294,Mantra on Collins Hobart

In [13]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [14]:
# 4a. Add a marker layer for each city to the map.
figure = gmaps.figure(center=(30, 30), zoom_level=1.7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
figure.add_layer(marker_layer)
# 4b. Display the figure
figure

Figure(layout=FigureLayout(height='420px'))

In [18]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Lagarto"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Lagarto"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Coruripe"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Maceio"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Maragogi"]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
282,564,Maceio,BR,80.04,few clouds,-9.6658,-35.7353,Poutur Pousada

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy() 
end

array([-10.9172, -37.65], dtype=object)

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
figure=gmaps.figure(center=(50,50), zoom_level=1.4)
Lagarto=start
Coruripe=stop1
Maceio=stop2
Maragogi=stop3
bike_trip=gmaps.directions_layer(Lagarto, Lagarto,
                                waypoints=[Coruripe,Maceio,Maragogi],
                                travel_mode="BICYCLING")
figure

Figure(layout=FigureLayout(height='420px'))

In [22]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,666,Lagarto,BR,80.89,clear sky,-10.9172,-37.6500,Pousada Cota
1,639,Coruripe,BR,78.49,few clouds,-10.1256,-36.1756,Pousada e Hotel Litoral Sul
2,564,Maceio,BR,80.04,few clouds,-9.6658,-35.7353,Poutur Pousada
3,134,Maragogi,BR,79.00,few clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map.
mark_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
figure.add_layer(mark_layer)
#figure.add_layer(bike_trip)
# 11b. Display the figure
figure

Figure(layout=FigureLayout(height='420px'))